.btn {
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    width: 150px;
    height:50px;
    margin: 3px;

    font-size: 1.2rem;
    transition: transform 0.3s;
    &:hover {
      transform: scale(0.98);
    }
  }
  
  $btn-colors: (
    primary: $btn1-color,
    secondary: $btn2-color,
    tertiary: $btn3-color
  );
  
  @each $color, $value in $btn-colors {
    .btn-#{$color} {
      background-color: $value;
      color: $main-color;
    }
  }