$padding-default: 20px;
$margin-default: 0 auto;
$sizes:(
    sm:12px,
    normal:16px,
    md:20px,
    lg:28px,
    xl:32px,
    xxl:40px,
);
@mixin generate-padding($show: null) {
    @each $large, $value in $sizes {
      .padding-#{$show}-#{$large} {
        @if $show {
          padding-#{$show}: $value;
        } @else {
          padding: $value;
        }
      }
    }
  }

  @mixin generate-margins($show: null) {
    @each $large, $value in $sizes {
      .margin-#{$show}-#{$large} {
        @if $show {
          margin-#{$show}: $value;
        } @else {
          margin: $value;
        }
      }
    }
  }
  /* $show nome di fantasia per definire il tipo di display */
  @include generate-padding(inline);
  @include generate-padding(block);
  
  @include generate-margins(inline);
  @include generate-margins(block);